{% extends "base.html" %}

{% block title %}EmpreGO! - Currículos {% endblock %}

{% block content %}
    <div class="file-list-container">
        <h1>Candidatos</h1>
        <ul>
            {% for curriculo in candidatura %}
            <li class="mb-3 border-bottom py-2 ">
                {{ curriculo.nome }} - {{ curriculo.telefone }} - {{ curriculo.email }} - Mensagem de apresentação:     {{ curriculo.mensagem }}
                <a href="/download/{{ curriculo.curriculo }}" class="btn btn-success download ">Baixar</a>
                <a href="/delete/{{ curriculo.curriculo }}" class="btn btn-danger excluir ">Excluir</a>
            </li>
            {% else %}
                <p class="text-center">Nenhum arquivo encontrado!</p>
            {% endfor %}
        </ul>
    </div>


{% endblock %}