{% extends "base.html" %}

{% block title %}EmpreGO - Sobre Nós{% endblock %}

{% block content %}
<div class="container my-5">
    <h3 class="text-center">Bem-vindo à EmpreGO!</h3>
    
    <p class="text-center text-dark mt-4">
        Somos uma plataforma dedicada a conectar talentos com oportunidades. Nossa missão é simplificar o processo de busca por empregos, facilitando a vida tanto dos candidatos quanto das empresas.
    </p>
    
    <p class="text-center text-dark">
        Na EmpreGO, acreditamos que encontrar o trabalho ideal é uma jornada, e estamos aqui para tornar esse caminho mais rápido e eficiente. Empresas de diferentes setores podem cadastrar suas vagas em nossa plataforma, onde os candidatos têm acesso a detalhes das oportunidades e podem enviar seus currículos diretamente para concorrer às posições desejadas.
    </p>
    
    <p class="text-center text-dark">
        Nosso compromisso é fornecer um espaço seguro, intuitivo e acessível para que talentos e empresas se encontrem e prosperem juntos. Conosco, as empresas encontram os profissionais certos e os candidatos encontram a oportunidade perfeita para crescerem na carreira.
    </p>

    <p class="text-center font-weight-bold mt-4">EmpreGO – Conectando Talentos, Transformando Carreiras!</p>
</div>
{% endblock %}
